body { background-color: blanchedalmond;}
p { color: brown;}
#Mijncv { background-color: blue;}
.taal { font-size: 24px; }
h2,h3 { color: green;}
h1 { text-align: center;}
div.a {text-align: center;}