
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      background-color: #2196F3;
      padding: 10px;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
    }

    .header {
      grid-row: 1;
    }

    .personal-info,
    .education,
    .work-experience,
    .languages {
      grid-column: 1;
    }

    .languages {
      grid-row: span 2;
    }